body {
  background-image: url("images/nasa.jpg");
  background-size: cover, contain;
}

.container {
  max-width: 800px;
  margin: 60px auto 10px auto;
  border: 2px double #f7d83d;
  border-radius: 8px;
  font-family: "Bungee", cursive;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 30px;
}

h1 {
  font-family: "Bungee Shade", cursive;
  padding: 10px;
  font-size: 60px;
}

h2 {
  font-family: "Bungee Outline", cursive;
}

select {
  display: block;
  margin: 30px auto;
  width: 520px;
  color: #f7d83d;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px double #f7d83d;
  border-radius: 6px;
  padding: 5px;
  font-size: 18px;
  font-family: "Patrick Hand SC", cursive;
  text-align: center;
  vertical-align: middle;
}
.city {
  padding: 20px;
  line-height: 3;
}
.city .time {
  font-size: 30px;
}
.city .date {
  font-size: 20px;
}

footer {
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: "Patrick Hand SC", cursive;
  text-decoration: none;
}
.footer-logo {
  width: 25px;
  transition-duration: 0.2s;
}
.footer-logo:hover {
  width: 35px;
}
.homepage {
  font-size: 18px;
  font-family: "Patrick Hand SC", cursive;
}
